<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <!-- <%=locals.messages.message%> -->
      <div id="main_section">
        <div class="articles">
          <% articles.forEach((article)=> { %>
          <div class="article">
            <% 
              title = article.title 
              articleReg1 = /[^a-zA-Z0-9 ]+/g;
              articleReg2 = /[^a-zA-Z0-9]+/g;
              slug = `/blog/${title.replace(articleReg1,"").replace(articleReg2,"-").toLowerCase()}`
              bodySample = article.body_sample == null ? "" : article.body_sample+"..."
            %>
            <h2><a href=<%=slug%> ><%=title%> </a></h2>
            <div class="tags_container">
              <% article.tags.forEach((tag)=> {%>
                <a class="tag_link" href="#"><%=tag.tag_name%></a>
              <%})  %>
            </div>
            <p><%= article.publish_date.toDateString() %></p>
            <p><%= article.body_sample %></p>
            <a href=<%=slug%> >Read more</h2> </a>
          </div>
          <% }) %>
        </div>
      </div>
      <%- include("../partials/recent_posts"), {articles:articles} %>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
